
{:source-paths ["src/"]
 :dependencies [[respo "0.7.0-a1"]]
 :builds {:render {:target :node-script
                   :output-to "target/main.js"
                   :main shell-page.main/main!
                   :devtools {:after-load shell-page.main/main!}}}}
